@charset "UTF-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}ul{list-style:none}ol{margin-left:25px}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}*{box-sizing:border-box}
*,input,button,textarea,select{font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif}html{font-size:62.5%}
.cf:after{content: " ";display:block;height:0;clear:both;visibility:hidden;}

/*===========================
/* COMMON
===========================*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.margin-top-xs{
    margin-top: 4px;
}
.margin-top-sm{
    margin-top: 8px;
}

a.d-link{
    color: #1ABC9C;
}
a.d-link:hover{
    text-decoration: none;
}

.article > div{
    max-width: 1280px;
    margin: 0 auto;
}
/*===========================
/* HEADER
===========================*/
#header{
    width: 100%;
    height: 140px;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
}

#header h1{
    position: absolute;
    width:248px;height:46px;
    top:50%;left: 50%;
    margin:-23px 0 0 -124px;
    text-indent: -9999px;
    background:url("../images/logo.svg") no-repeat;
}
/*===========================
/* MAIN
===========================*/
#slogan .text{
    text-align: center;
    font-size: 32px;
    color: #1ABC9C;
    font-weight: normal;
    padding: 32px 0;
    line-height: 1.4;
}

#company_content{
    background-color: #e8e8e8;
    padding: 0 0 32px;
}
#company_content .content-title{
    color: rgba(0,0,0,.5);
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    padding: 48px 0 16px;
}
#company_content .media{
    width: 940px;
    margin: 0 auto 16px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}
#company_content .media-left,
#company_content .media-body{
    display: table-cell;
    vertical-align: top;
}
#company_content .media-img{
    overflow: hidden;
    width: 470px;
    height: 200px;
}
#company_content .media-img img{
    width: 100%;
}
#company_content .media-body{
    color: rgba(0,0,0,.75);
    width: 10000px;
    overflow: hidden;
    padding: 16px;
    position: relative;
}
#company_content .media-heading{
    text-align: center;
    font-size: 18px;
}
#company_content .media-body > p{
    font-size: 14px;
    line-height: 1.5;
    margin: 16px 0 0;
}
#company_content .btn-block{
    margin-top: 16px;
    text-align: center;
    /* width: 100%; */
}
#company_content a.btn{
    color: #fff;
    font-size: 14px;
    background-color: #1ABC9C;
    display: inline-block;
    padding: 16px 32px;
    text-decoration: none;
}

#company_content .media-blank{
    color: rgba(0,0,0,.5);
    background-color: #fff;
    width: 940px;
    height: 200px;
    font-size: 14px;
    margin: 0 auto;
    display: table;
}
#company_content .media-blank > p{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}


/*===========================
/* COMPANY INFO
===========================*/
#company_info{
    padding: 32px 0 16px;
    background: #1ABC9C;
    color: #FFF;
}

#info_wrap{
    width: 590px;
    font-size: 13px;
    margin: 0 auto;
}
#info_wrap > div > div{
    float: left;
}
#info_wrap > div > div:last-child{
    float: right;
}

#info_wrap dl{
    display: table;
    margin-bottom: 40px;
}

#info_wrap dl dt{
    width: 7em;
    display: table-cell;
    line-height: 1.4em;
}

#info_wrap dl dd{
    display: table-cell;
    line-height: 1.4em;
}

#info_wrap .cf dl dd a{
    color: #1ABC9C;
    text-decoration: none;
    display: inline-block;
    padding: 0 6px;
    border-radius: 8px;
    background: #FFF;
    margin-left: 6px;
    font-size: 10px;
}

dl#business_info{
    margin-bottom: 0;
}

dl#business_info dd h3{
    font-weight: normal;
}

dl#business_info dd ul{
    margin: 12px 0 32px 0;
}
dl#business_info dd ul li{
    margin-bottom: 2px;
    padding-left: 1em;
    text-indent: -1em;
}
dl#business_info dd a {
    color: #fff;
}
#company_address dt{
    vertical-align: top;
}
#company_address .for_pc > img{
    display: inline;
}
#company_address .for_sp > img{
    display: none;
}

/*===========================
/* NAV FOOTER
===========================*/
#nav-footer{
    text-align: center;
    padding: 16px 0;
    font-size: 13px;
}
#nav-footer ul{
    width: 590px;
    margin: 0 auto;
}
#nav-footer li{
    display: inline-block;
    padding: 16px;
    color: #1ABC9C;
}






/*===========================
/* FOOTER
===========================*/
#footer{
    padding: 16px 0;
    text-align: center;
    color: #34AADC;
    font-size: 11px;
}

/*===========================
/* Queries
===========================*/
@media screen and (max-width: 1023px){
    #company_content .media{
        width: 470px;
    }
    #company_content .media-left,
    #company_content .media-block{
        display: block;
    }
    #company_content .media-img{
        width: 100%;
        height: auto;
    }
    #company_content .media-blank{
        width: 470px;
    }

    #info_wrap{
        width: 100%;
        padding: 0 60px;
    }
    #info_wrap dl{
        margin-bottom: 20px;
    }
    #info_wrap > div > div,
    #info_wrap > div > div:last-child {
        float: none;
    }

    #company_address .for_pc > img{
        display: none;
    }
    #company_address .for_sp > img{
        display: block;
    }
}


@media screen and (max-width: 414px){
    .media_query_break{
        display: block;
    }
    #header{
        min-width:  100%;
    }


    #company_content .media{
        width: 100%;
    }
    #company_content .media-blank{
        width: 100%;
    }

    #info_wrap{
        padding: 0 20px !important;
    }

    #company_address, #business_info{
        display: block !important;
    }
    #company_address dt,
    #company_address dd,
    #business_info dt,
    #business_info dd {
        display: block !important;
    }
    #company_address dt,
    #business_info dt {
        margin-bottom: 8px;
    }

    #nav-footer ul{
        width: 100%;
    }
    #nav-footer ul li{
        display: block;
    }
    .mt8{ margin-top:8px;}
}

/*===========================
/* UTILITY
===========================*/
.mr8{ margin-right:8px;}
